.footer{
  padding-top: 2rem;
  height: 150px;
  background-color: rgb(34, 6, 6);
  align-items: center;
  text-align: center;
  &__titulo{
    border-top: 1px solid white;
    color: white;
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    padding-top: 3rem;
  }
}