@import "Temas/Variaveis.module.scss";

.navbar {
  display: flex;
  padding: 3rem 10rem;
  gap: 50em;
  background-color: $background-brown ;
  &__pages{
    display: flex;
    gap:2rem;
    &__buttons{
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
      
    }
  }
  &__login{
    display: flex;
  }
}

.header{
  background-image: url("/assets/banner.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  &__titulo{
    padding: 5rem 10rem;
    color: white;
    font-size: 4rem;
    font-style: italic;
    min-width: 400px;
    width: 50%;
  }
}